apiVersion: 1

providers:
  - name: "TFSPH"
    orgId: 1
    folder: "TFSPH"
    type: file
    disableDeletion: false
    editable: false
    updateIntervalSeconds: 30
    options:
      path: /var/lib/grafana/dashboards