---
groups:
  - name: infrastructure-alerts

    rules:

      ######################################################
      # High CPU
      ######################################################

      - alert: HighCPUUsage
        expr: |
          (100 - (avg by(instance) (
            rate(node_cpu_seconds_total{mode="idle"}[5m])
          ) * 100)) > 80
        for: 5m

        labels:
          severity: warning

        annotations:
          summary: "High CPU usage on {{ '{{' }} $labels.instance {{ '}}' }}"
          description: "CPU usage has been above 80% for more than 5 minutes."

      ######################################################
      # High Memory
      ######################################################

      - alert: HighMemoryUsage
        expr: |
          (
            100 *
            (1 - (
              node_memory_MemAvailable_bytes /
              node_memory_MemTotal_bytes
            ))
          ) > 80
        for: 5m

        labels:
          severity: warning

        annotations:
          summary: "High memory usage on {{ '{{' }} $labels.instance {{ '}}' }}"
          description: "Memory usage has been above 80% for more than 5 minutes."

      ######################################################
      # Low Disk Space
      ######################################################

      - alert: LowDiskSpace
        expr: |
          (
            node_filesystem_avail_bytes{
              fstype!~"tmpfs|overlay|squashfs"
            }
            /
            node_filesystem_size_bytes{
              fstype!~"tmpfs|overlay|squashfs"
            }
            * 100
          ) < 15
        for: 5m

        labels:
          severity: warning

        annotations:
          summary: "Low disk space on {{ '{{' }} $labels.instance {{ '}}' }}"
          description: "Available disk space is below 15%."

      ######################################################
      # Node Exporter Down
      ######################################################

      - alert: NodeExporterDown
        expr: up{job=~"application-servers|monitoring-server|management-server"} == 0
        for: 2m

        labels:
          severity: critical

        annotations:
          summary: "Node Exporter down on {{ '{{' }} $labels.instance {{ '}}' }}"
          description: "Prometheus has been unable to scrape Node Exporter for more than 2 minutes."